.banner-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }
.secondcontainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
  .hero-image {
    width: 100vw;
    height: 150vh; 
    background-size: cover;
    background-position: center;
  }
  
  .BannerChildren {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0,0,0,.5);
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transPhoto{
      height: 150vh;

  }

