.SCbutton{
    text-align: center;
    vertical-align: middle;
    line-height: 300%;
    width: 150px;
    height: 33%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 10%;
    cursor: pointer;

}