html {
  font-size: 16px; 
}

body {
  position: relative;
  background: white;
  min-height: 300vh;
  font-family: 'Futura', 'Helvetica', sans-serif;
  font-weight: normal;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(#4DD0E1, 0.85);
}


/* Information styling*/


.info-box{

  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  text-align: center;
  justify-content: center;

}


.info-title{

}

.info{

  font-family: 'Lato', sans-serif;
  text-align: center;

  width: 30%;
  height: 70%;


  margin-left: 61%;
  margin-top: 13%;
  font-size: 1.5vw;
}

.InfoButtons{

  float: left;
  margin-top: 13%;
  height: 70%;
  width: 50%;

  padding-left: 10%;
  display: flex;
}



.ButtonsWrapper{
  display: block;

}


.Buttons{
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  

}

h1 {
  font-weight: normal;
  font-size: 6vw;
}

h2 {
  font-weight: normal;
  font-size: 5vw;
}


@media screen and (max-width: 850px){




}

@media screen and (max-height: 490px){


  
}







